form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 1em;
}

.username-container,
.password-container {
  padding: 0.5em 0;
}

.username-container input {
  height: 10px;
}

.input-pw-container input {
  border: none;
  width: 200px;
}

.input-pw-container {
  border: 1px solid gray;
}

.username-container input {
  display: flex;
  width: 230px;
}

input:focus {
  outline: none;
}

.input-pw-container {
  display: flex;
}

.input-pw-container svg {
  display: flex;
  align-self: center;
  padding-right: 9px;
  cursor: pointer;
}
